venv/
bgvenv/
venv_old/
__pycache__/
*.pyc
*.pyo

app_backup.py
app_backup_before_image_pdf.py
app_backup_before_image_resizer.py
app_backup_before_resizer.py
app_backup_before_resizer_v2.py
app_working_backup.py

database.db
.env

static/removed/
static/uploads/
